<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello Django Template Language</h1>
    {% comment  %} Example-1:Variable {% endcomment %}
    {% comment %} <h2>Name : {{name}} {{version}}</h2> {% endcomment %}
    {% comment %} Example-1.2: Variable {% endcomment %}
    <h3>Name: {{nm}}</h3>
    <h3>Duration: {{du}}</h3>
    <h3>Seats: {{st}}</h3>
</body>

</html>